---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-calvinz360-home-ops
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  driftDetection:
    mode: enabled
  values:
    githubConfigUrl: https://github.com/calvinz360/home-ops
    githubConfigSecret: actions-runner-controller-secret

    minRunners: 0
    maxRunners: 2

    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 5Gi

    controllerServiceAccount:
      name: actions-runner-controller
      namespace: actions-runner-system

    template:
      spec:
        securityContext:
          fsGroup: 121 # required for longhorn pvc behavior
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.330.0@sha256:92a45e47f4b349f4da2307ebaaea5443cc86d1ce625d37acf2c61b3b09192e47
            command:
              - /home/runner/run.sh
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
              - name: NODE_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
            volumeMounts:
              - mountPath: /var/run/secrets/talos.dev
                name: talos
                readOnly: true
        serviceAccountName: actions-runner
        volumes:
          - name: talos
            secret:
              secretName: actions-runner
